.out{
    background-color: #9beaed;
    height:80px;
  }
  .logo-main{
    margin:auto;
    /* background-color: #444cf7; */
  }
  .InputBox::placeholder
  {
      text-align: center;
  }
.heading
{
     text-align: center;  
}
.searching
{
    width: 50%;
    margin: auto;
}
.top
{margin-right: 75%;}
.appl
{
    margin-top:10%;
}
.nav-icon:hover{
color: blueviolet;
}
.logout{
    margin-left: 110%;
    /* height: 60px; */
    
}
.logout:hover{
    color: blueviolet;
}
.sort,.apply-head{
    /* background-color: aquamarine;
     */
     height: 80px;
     /* background-color: #8e8ef2;
     border-radius: 15px;
opacity: 0.8;
background-image: radial-gradient(#444cf7 1.25px, #8e8ef2 1.25px);
background-size: 25px 25px; */
}
 .profile-dashboard{
    font-style: italic;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 100px;
} 
.logo{
    height: 60px;
    width: 60px;
    
    border-radius: 50px;
    margin-top: -22px;
    margin-left: 15px;
}
/* .navbar-col
{
    background-color: black;
    height: 80px;
    color: white;
} */
.userdashboard
{
    background: rgb(231,182,203);
background: radial-gradient(circle, rgba(231,182,203,1) 28%, rgba(204,215,228,1) 64%);
}
.searchbar
{
    width: 50%;
    margin: auto;
}
.text1
{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;


}
.btnsort{
/* background-color: black; */
border-radius: 20px;
padding: auto;
padding-left: 15px;
padding-right: 15px;
padding-top: 8px;
padding-bottom: 8px;
font-size: 12px;
}
.nav-icon
{color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.filter{
    background-color: rgb(197, 144, 250);
    /* margin: 5px; */
    padding: 0px;
}
.filter_element{
    background-color: rgb(226, 207, 244);
    margin: 2px;
    border-radius: 7px;
}