body {
    
    background-color: #cccccc;
   }
   .job-applied-body h1{
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    
   }
.job-applied-body {
    
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    margin: 0 auto;
    font-size: 1rem;
    font-weight: 1.5;
    line-height: 1.5;
    color: #292b2c;
    background-color: #fff;
    padding: 0 2em;
  }
  .job-applied-body {
    margin: 0 auto;
    padding: 0 2em;
  }
  .job-applied-wrapper {
    
    text-align: center;
    max-width: 950px;
    margin: 0 auto;
    
    padding: 40px 25px;
    margin-top: 1px;
  }
  